@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body{
    background-image: url("image0.jpeg");
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(19, 19, 19);
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}
h1 {
    text-align: center;
    font-size: 300%;
    margin: 10px 0 40px;
}

.count-down {
    text-align: center;
    font-size: 80px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}


.timer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.timer h2 {
    margin: 0 0 20px;
    font-size: 4rem;
}


.message {
    font-size: 60px;
    font-size: bold;
}


small {
    padding-top: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
}

.year {
    font-size: 1000%;
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

@media (max-width: 500px) {
    h1 {
        font-size: 22px;
    }

    .timer {
        margin: 5px;
    }

    .timer h2 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .timer small {
        font-size: 12px;
    }

    .year {
        font-size: 100px;

    }

    .message {
        font-size: 25px;
    }
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {

    margin-top: 5%;
    display: inline-block;
  }
  .center{
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}